@font-face {
  font-family: 'Opensan';
  font-weight: normal;
  src: url('./font/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Opensan';
  font-weight: bold;
  src: url('./font/OpenSans-Bold.ttf');
}

@font-face {
  font-family: 'Opensan';
  font-weight: 300;
  src: url('./font/OpenSans-SemiBold.ttf');
}

@font-face {
  font-family: 'Opensan';
  font-weight: 500;
  src: url('./font/OpenSans-ExtraBold.ttf');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Opensan' !important;
  font-weight: normal;
}

.modal-content{
  min-height:500px;
}

.list{
  margin-top:100px;
}

.table-top{
  margin-top: 10px;
}